body {
    margin: 0;
    padding: 0;
    min-width: 1024px;
    background-color: #FAFDFF;
    font-family: PingFangSC-Light, Arial, Helvetica, 'Hiragino Sans GB', STXiHei, 'Microsoft YaHei', sans-serif;
}

.header {
    position: relative;
    z-index: 3;
    margin: 0 auto;
    width: 1140px;
    height: 100px;
}

.header-logo-container {
    display: inline-block;
}

.header__logo {
    position: absolute;
    top: 50%;
    left: 0;
    width: 124px;
    height: 28px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.header__menu {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__menu-item {
    float: left;
    margin-right: 30px;
    font-size: 14px;
    line-height: 100px;
}

.header__menu-item.active a::after, .header__menu-item:hover a::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    -ms-transform: scale(1);
}

.header__menu-item.active a.joinus, .header__menu-item:hover a.joinus {
    border-bottom: none;
}

.header__menu-item a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

.header__menu-item a::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    content: '';
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -ms-transform: scale(0);
    -ms-transform-origin: 0 50%;
}

.header__menu-item a.download::after, .header__menu-item a.joinus::after {
    content: none;
}

.header__menu-item a.download {
    box-sizing: border-box;
    padding: 3px 12px;
    border: 1px solid #fff;
    border-radius: 14px;
}

.header__menu-item a.joinus {
    padding: 30px 0;
}

.header__menu-item a.joinus:hover .list {
    display: block;
}

.header__menu-item a.joinus .list {
    position: absolute;
    top: 70px;
    left: 50%;
    display: none;
    padding: 5px 0;
    width: 76px;
    border-radius: 2px;
    background: #fff;
    color: #666;
    list-style: none;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.footer > .content .social a, .page__title {
    background-position: center;
    background-repeat: no-repeat;
}

.header__menu-item a.joinus .list::after {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    content: "";
}

.header__menu-item a.joinus .list > li {
    line-height: 2.5;
}

.header__menu-item a.joinus .list > li:hover {
    color: #2a7de1;
}

.page__title {
    margin-top: -100px;
    height: 460px;
    min-width: 1140px;
    background-color: #2a7de1;
    background-size: cover;
}

.page__title.news {
    background-image: url(./res/image/news-bg.png);
}

.page__title.about {
    background-image: url(./res/image/aboutus__bg.png);
}

.page__title.scenic {
    background-image: url(./res/image/scenic__bg.png);
}

.page__title.contact {
    background-image: url(./res/image/contact__bg.png);
}

.page__title.business {
    display: none;
}

.page__title .content {
    position: relative;
    margin: 0 auto;
    width: 1140px;
    height: 100%;
}

.page__title .content > h1, .page__title .content > h2 {
    position: absolute;
    top: 167px;
    left: 0;
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;
}

.page__title .content > h2 {
    top: 237px;
    font-size: 40px;
    line-height: 56px;
}

.footer {
    height: 335px;
    min-width: 1140px;
    background-color: #F8F8F8;
}

.footer > .content {
    clear: both;
    display: table;
    margin: 0 auto;
    padding-top: 56px;
    width: 1140px;
    height: 180px;
}

.footer > .content .logo__wrapper {
    float: left;
    color: #666;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
}

.footer > .content .logo__wrapper p {
    margin: 0;
    font-weight: 400;
}

.footer > .content .logo__wrapper .logo {
    margin-bottom: 32px;
    width: 165px;
    height: 38px;
}

.footer > .content .logo__wrapper .tel {
    margin-bottom: 10px;
    font-weight: 400;
}

.footer > .content .about, .footer > .content .join, .footer > .content .social {
    float: right;
    margin-left: 126px;
}

.footer > .content .about p, .footer > .content .join p, .footer > .content .social p {
    margin: 0 0 8px;
}

.footer > .content .about h3, .footer > .content .join h3, .footer > .content .social h3 {
    margin: 0 0 15px;
    color: #333;
    font-size: 18px;
}

.footer > .content .about a, .footer > .content .join a, .footer > .content .social a {
    color: #666;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
}

.footer > .content .social a {
    display: inline-block;
    margin-right: 10px;
    width: 26px;
    height: 20px;
    background-size: contain;
}

.footer > .content .social a:nth-of-type(1) {
    background-image: url(./res/image/social-weibo.png);
}

.footer > .content .social a:nth-of-type(2) {
    background-image: url(./res/image/social-wechat.png);
}

.footer > .content .social a:nth-of-type(3) {
    width: 10px;
    height: 21px;
    background-image: url(./res/image/social-facebook.png);
}

.footer > .content .social a.wechat {
    position: relative;
}

.footer > .content .social a.wechat .QR__code {
    position: absolute;
    top: -170px;
    left: -65px;
    display: none;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 6px;
    background: url(./res/image/wechat__QR.jpg) center no-repeat;
    background-size: cover;
    color: #97979766;
}

.footer > .content .social a.wechat .QR__code::after, .footer > .content .social a.wechat .QR__code::before {
    position: absolute;
    bottom: -20px;
    left: 67px;
    display: block;
    border-color: #97979766 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 10px;
    content: "";
    font-size: 0;
    line-height: 0;
}

.footer > .content .social a.wechat .QR__code::after {
    bottom: -19px;
    border-color: #fff transparent transparent;
}

.footer > .record {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #999;
    text-align: center;
    font-size: 14px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer > .record > img {
    margin-right: 3px;
    width: 20px;
}

.news_body {
    padding-top: 50px;
    padding-bottom: 120px;
}

.news_body .about__body__bg {
    padding-top: 47.6%;
    background-position: center center;
    background-size: cover;
}

.news_body .page-sections {
    width: 100%;
}

.news_body .page-sections .intro-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding-top: 10px;
    width: 1140px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.news_body .page-sections .intro-section:first-child {
    margin-top: 0;
    border-top: 0;
}

.news_body .page-sections .left-time {
    width: 160px;
    text-align: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.news_body .page-sections .articles {
    padding-right: 10%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.news_body .page-sections .blog-entry-date {
    color: #2a7de1;
    line-height: 1;
}

.news_body .page-sections .blog-entry-date .month {
    color: #333;
    text-align: left;
    font-size: 22px;
    line-height: 2.1;
}

.news_body .page-sections .blog-entry-date .year-symbol {
    display: none;
}

.news_body .page-sections .blog-entry-text {
    margin-bottom: 10px;
    min-height: 100px;
}

.news_body .page-sections .blog-entry-text:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.news_body .page-sections .blog-entry-text .desc {
    margin-bottom: 20px;
    color: #666;
}

.news_body .page-sections .blog-entry-text .title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

.news_body .page-sections .blog-entry-text .title a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    line-height: 1;
}

.news_body .page-sections .blog-entry-text .title a:focus, .news_body .page-sections .blog-entry-text .title a:hover {
    color: #2a7de1;
}

.news_body .page-sections .blog-entry-text .meta {
    display: inline;
    margin: 0;
    font-size: 14px;
    opacity: .5;
}

/* i is7. com */
